* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

header {
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  text-align: center;
  padding: 40px;
}

header h1 {
  background-color: aquamarine;
  font-size: 70px;
  padding-left: 100px;
  padding-right: 40px;
}

header a {
  font-size: 40px;
  padding: 10px;
  color: aquamarine;
}