:root {
  --light: aquamarine;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

header {
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 40px;
}

header h1 {
  background-color: var(--light);
  font-size: 30px;
  padding-left: 100px;
  padding-right: 40px;
}

header a {
  font-size: 20px;
  padding: 10px;
  color: var(--light);
}

.hero-banner{
  background: url("../images/02-hero-bg.jpg");
  background-size: cover;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
}

.hero-banner h2{
  background-color: var(--light);
  font-size: 30px;
}

.hero-banner img {
  border-radius: 50%;
  height: 50vh;
}

.page-wrapper {
  padding: 50px;
}

.page-section h2 {
  font-size: 50px;
  color: #46769B;
  border-bottom: 5px solid #46769B;
}


#workGrid {
  margin: 0px 5%;
  display: grid;
  grid-template-rows: 300px 150px 150px;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
  "project-1 project-1"
  "project-2 project-3"
  "project-4 project-5"
  ;
}

#project-1 {
  grid-area: project-1;
  background-image: url("../images/02-run-buddy.jpg");
  border: 5px solid var(--light);
  opacity:0.5;

}
#project-2 {
  grid-area: project-2;
  background-image: url("../images/02-portfolio-1.jpg");
  border: 5px solid var(--light);
  opacity:0.5;
}

#project-3 {
  grid-area: project-3;
  background-image: url("../images/02-portfolio-2.jpg");
  border: 5px solid var(--light);
  opacity:0.5;
}

#project-4 {
  grid-area: project-4;
  background-image: url("../images/02-portfolio-3.jpg");
  border: 5px solid var(--light);
  opacity:0.5;
}

#project-5 {
  grid-area: project-5;
  background-image: url("../images/02-portfolio-4.jpg");
  border: 5px solid var(--light);
  opacity:0.5;
}

#project-1:hover, #project-2:hover, #project-3:hover, #project-4:hover, #project-5:hover{
  opacity:1;
}
.workGridArea {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 5px;
  cursor: pointer;
  display: grid;
  align-content: end;
}

.workGridArea a {
  text-decoration: none;
}

.heading {
  background-color: var(--light);
  padding: 15px;
  height: 100px;
  width: 100px;
  color: black;
  font-size: 18px;
}

.contact a {
  font-size: 20px;
  color: black;
}

.contact-links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}


@media screen and (max-width: 769px) {
  header {
    display: flex;
    flex-direction: column;
  }
  
  .hero-banner{
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
  }

  #workGrid {
    grid-template-rows: 150px 150px 150px 150px 150px;
    grid-template-columns: 1fr;
    grid-template-areas:
    "project-1"
    "project-2"
    "project-3"
    "project-4"
    "project-5"
    ;
  }
  .contact-links {
    display: flex;
    flex-direction: column;
}
}